{% extends './alter_layout.html' %}
{% block content %}

<main class="container-fluid bg-dark">
    <div class="row d-flex">
        <!-- Main Window -->
        <div class="col-10 p-0" >
            <div class="h-100">
                <img src="https://images6.alphacoders.com/426/426521.jpg" alt="Responsive image" class="img-fluid">
            </div>
            
        </div>

        <!-- Side Panel -->
        <div class="col-2 align-self-center align-items-center">
            <ul class="list-group mt-2">
                <li class="list-group-item">
                    item 1
                </li>

                <li class="list-group-item">
                    item 2
                </li>

            </ul>
        </div>
        
    </div>
</main>

{% endblock %}
