{% extends './alter_layout.html' %}
{% block content %}

<main class="container">
	<h2 class="text-center mt-2">Currently we are under construction, please be patient</h2>

	<p class="mt-2">
		<strong>Q:</strong>
		What formats are currently accepted for upload?
	</p>

	<p>
		<strong>A:</strong>
		Currently we can only accept .PSD type files for upload. This is because it is the most common format that artists create their work with and most platforms will accept this.
		If enough support is reached, other formats may be accepted in the future.
	</p>

	<p class="mt-2">
		<strong>Q:</strong>
		Who owns the art uploaded to Alter?
	</p>

	<p>
		<strong>A:</strong>
		You. Always you. We wouldn't want it any other way.
		At anytime you may remove your art and it will be automatically removed from our site. And if you should leave Alter for good, your artwork will be removed too.
	</p>	
</main>

{% endblock %}