{% extends './alter_layout.html' %}
{% block content %}
{% load static %}

<main class="container">
	<!-- HERO -->
	<div class="px-4 py-5 my-5 text-center">
		<img class="d-block mx-auto mb-4" src="{% static '/icons/mind_map_icon_156966.ico' %}" alt="" width="72" height="57">
		
		<h1 class="display-5 fw-bold">Alter</h1>
		
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">
				Design your new OC in a flash from artist created templates all from within the comfort of your desktop browser
			</p>
		</div>
	</div>
	
	
</main>

{% endblock %}
