{% extends './alter_layout.html' %}
{% block content %}

<main class="container py-3">
    <form class="">
        <div id="title" class="mb-3">
            <label for="InputTitle" class="form-label">Title</label>
          
            <input type="text" class="form-control" id="InputTitle" aria-describedby="titleHelp" placeholder="Fox base">
        </div>

        <div id="species" class="mb-3">
            <label for="speciesDataList" class="form-label">Species</label>
                <input class="form-control" list="datalistOptions" id="speciesDataList" placeholder="Type to search...">
                
                <datalist id="datalistOptions">
                    {% for species in species_list %}
                    <option value="{{ species.name }}">
                    {% endfor %}
                </datalist>
        </div>

        <div id="description" class="mb-3">
            <label for="InputDescription" class="form-label">Description</label>

            <textarea class="form-control" id="InputDescription" rows="4"></textarea>
        </div>

        <div id="file" class="mb-3">
            <label for="InputImage" class="form-label">File</label>
            
            <input type="file" class="form-control" id="InputImage" aria-describedby="imageHelp">

            <div id="imageHelp" class="form-text">Currently we only support .PSD file formats</div>
        </div>

        <div id="Thumbnail" class="mb-3">
            <label for="InputThumbnail" class="form-label">Thumbnail</label>
            
            <input type="file" class="form-control" id="InputThumbnail" aria-describedby="thumbnailHelp">
        </div>
        
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</main>

{% endblock %}
